.header {
    grid-area: h;
    background-color: rgba(175, 175, 175, 0.171);
    border-bottom: 2px solid white;
    }
    
    .header img {
      width: 60px;
      height: 60px;
      background-color: rgba(21, 92, 21, 0.329);
      border-bottom: 2px solid white;
    }