.app-wrapper {
    display: grid;
    width: 1598px;
    margin: 0 auto;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
        grid-area: c;
        background-color: rgb(255, 255, 255);
        color: rgb(20, 0, 73);
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 2px solid rgb(192, 190, 188);
        border-radius: 10px;

    }
